h1.page-title{
    background:url(../../../images/line.png) no-repeat;
    background-position: bottom center;
    background-size: 280px auto;
    padding-bottom: 2rem;
    @include breakpoint-up(wmd){
        font-size: 3rem !important;
    }
}
.archive {
    .post-item{
        .box{
            border: 1px solid $gray;
        }
    }
}