.footer{
    &__title{
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-size: 1.4rem !important;
        display: block;
    }
    &__social{
        ul{
            li{
                a{

                }
                i{
                    font-size: 1.5rem;
                }
            }
        }
        &__list{
            display: block !important;
            a{
                padding: 0.2rem 0.5rem !important;
            }
        }
        &__phone{
            color: #000000;
        }
        &__youtube{
            color: #BD332D;
        }
        &__facebook{
            color: #4267B2;
        }
    }
}
.cat-item{
    .icon-dribbble,.icon-envelop,.icon-phone{
        margin-right: 8px;
    }
}