.product-lightbox {
    padding: 1rem !important;
}

.product-small {
    .box-image {
        padding: 0.5rem;
        border-radius: 5px;
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(0, 0, 0, 0.05);
    }

    .product-title {
        margin: 0.5rem 0;
        font-size: 0.9rem;
    }

    .price {
        bdi {
            font-size: 1rem;
        }
    }
}

.product-title {
    color: $darkback;

    a {
        color: $darkback !important;
    }
}

.price,
.woocommerce-Price-amount {
    bdi {
        color: $maincolor;

        .woocommerce-Price-currencySymbol {
            color: $maincolor;
        }
    }
}
.woocommerce-loop-product__title{
    a{
        font-weight: 600;
    }
}
.row-large>.flickity-viewport>.flickity-slider>.col, .row-large>.col{
    @include breakpoint-up(wmd){
        padding: 0 1rem !important;
    }
}