.product-lightbox {
    padding: 1rem !important;
}

.product-small {
    .box-image {
        padding: 0.5rem;
        border-radius: 5px;
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(0, 0, 0, 0.05);
    }

    .product-title {
        margin: 0.5rem 0;
        font-size: 0.9rem;
    }

    .price {
        bdi {
            font-size: 1rem;
        }
    }
}

.product-title {
    color: $darkback;

    a {
        color: $darkback !important;
    }
}

.price,
.woocommerce-Price-amount {
    bdi {
        color: $maincolor;

        .woocommerce-Price-currencySymbol {
            color: $maincolor;
        }
    }
}
.woocommerce-loop-product__title{
    a{
        font-weight: 600;
    }
}
.woocommerce-variation-price{
    .price{
        font-size: 2.5rem !important;
    }
}
.row-large>.flickity-viewport>.flickity-slider>.col, .row-large>.col{
    @include breakpoint-up(wmd){
        padding: 0 1rem !important;
    }
}
.single_add_to_cart_button,
.add_to_cart_button{
    width: 100%;
    padding: 0.5rem 1rem !important;
    box-sizing: border-box;
    display: block;
    background: url(../../../images/icon-cart-01.png);
    background-repeat: no-repeat;
    background-position: center right 1rem;
}
.product-summary .quantity{
    width: 100%;
}
.form-minimal.quantity .qty{
    width: 100%;
    max-width: 100%;
}
.badge-container{
    top: auto !important;
    bottom: 0;
    margin: 0;
    &.is-larger{
        left: 1rem;
    }
    .badge-circle{
        height: 6rem;
        width: 6rem;
        box-sizing: border-box;
        .on-sale{
            background-image: url(../../../images/icon-sale.png);
            background-color: initial !important;
            background-repeat: no-repeat;
            border-radius: 0;
            background-size: 100% 100%;
            line-height: 1.2;
        }
    }
}