.tax-product_cat{
    #main{
        background: $grey;
    }
    .shop-container{
        padding: 1.5rem 1.5rem;
        background: #FFF;
    }
    .sidebar-inner{
        background: #fff;
        border: 1px solid $grey;
        padding: 1rem;
    }
}
.productcat{
    &__banner{
        margin-bottom: 1.5rem;
    }
}