.row-divided.row-reverse>.col+.col:not(.large-12) {
    @include breakpoint-up(wmd) {
        border-right: 0 !important;
    }
}

.shop-container {
    .product-type-simple {
        .row {
            .col.large-9 {
                @include breakpoint-up(wmd) {
                    padding-right: 1rem;
                }
            }

            #product-sidebar {
                @include breakpoint-up(wmd) {
                    padding-left: 1rem;
                }
            }
        }
    }

}


#product-sidebar {
    @include breakpoint-up(wmd) {
        border: none;
    }

    .widget {
        @include breakpoint-up(wmd) {
            background: $white;
            padding: 1rem;
        }
    }
    .recent-blog-posts a{
        font-size: 0.9rem;
    }
}

.product-page-title {
    background: $black;

    .page-title-inner {
        padding-top: 0;
    }

    .woocommerce-breadcrumb {
        a {
            font-size: 0.8rem;
            color: $white;
            &:hover{
                color: $white !important;
                text-decoration: underline;
            }
        }

        span {
            color: $white;
        }
    }
}

.single-product {

    #wrapper,
    #main {
        @include breakpoint-up(wmd) {
            background: $grey !important;
        }
    }
    .form-minimal.quantity .qty{
        max-width: 100%;
    }
    .variations{
        display: block;
        tbody{
            display: block;
            width: 100%;
        }
        tr{
            display: block;
            width: 100%;
            td{
                width: 100%;
                &.label{
                    text-transform: uppercase;
                    border-bottom: 1px solid $maincolor;
                    margin-bottom: 1rem;
                    label{
                        color: $maincolor;
                        font-size: 1.3rem;
                    }
                }
                display: block;
            }
        }
    }
    .product-main {
        @include breakpoint-up(wmd) {
            padding: 1.5rem 1rem !important;
            background: $white;
            .product-title{
                font-size: 2rem;
            }
        }
    }

    .product-section:not(.related) {
        @include breakpoint-up(wmd) {
            border: none !important;
        }

        >.row {
            background: $white;

            @include breakpoint-up(wmd) {
                border: 1px solid $grey;
                margin: 1rem 0;
            }

            >.col {
                @include breakpoint-up(wmd) {
                    max-width: 100% !important;
                    @include flex-basis(100% !important);
                }
            }
        }
    }

    .product-section {
        &.related {
            @include breakpoint-up(wmd) {
                background: $white;
                border: none;
                padding: 1.2rem;
            }
        }
        h5{
            border-bottom: 1px solid $maincolor;
            padding-bottom: 1rem;
            @include breakpoint-up(wmd) {
                font-size: 1.5rem;
            }
        }
        .section-title-normal{
            border: none !important;
            padding: 0;
            margin: 0;
            .section-title-main{
                border: none;
            }
        }
    }

    .product-footer{
        .product-section-title{
            border-bottom: 1px solid $maincolor;
            padding-bottom: 1rem;
            margin-bottom: 1.5rem;
            @include breakpoint-up(wmd) {
                font-size: 1.5rem;
                margin-bottom: 2rem;
            }
        }
    }

    .box-image {
        @include breakpoint-up(wmd) {
            background: $white;
            border: 0;
        }
    }

    .pwb-single-product-brands{
        display: none;
    }
}
