@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

body,
rs-module rs-mask-wrap .rs-layer,
rs-module rs-mask-wrap *:last-child,
.wpb_text_column rs-module rs-mask-wrap .rs-layer,
.wpb_text_column rs-module rs-mask-wrap *:last-child {
    font-family: 'Oswald', sans-serif !important;
}

.nav>li>a {
    font-family: 'Oswald', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font,
.section-title-main,
.footer__title,
.nav>li>a {
    font-family: 'Oswald', sans-serif !important;
    font-weight: 500 !important;
    line-height: 1.5 !important;
}

.widget-title,
strong,
.add-to-cart-button a,
.recent-blog-posts a {
    font-weight: 400 !important;
    line-height: 1.5 !important;
}

.alt-font {
    font-family: 'Oswald', sans-serif !important;
}